@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f8f7f4;
  color: #333;
  /* color: #db0000; */
}


.scrollbar::-webkit-scrollbar {
  width:6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #e4e4e4; /* ハンドルの色 */
}

.scrollbar {
  height: 91.5%;
}